@import "styles/colors";

.wrapper {
  aspect-ratio: 16/9;
  position: relative;
  .watched {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    display: block;
    background-color: $accentColor;
  }
}
