.wrapper {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color: black;
  &.inactive {
    cursor: none;
    .controller {
      bottom: -100px;
    }
  }
  .videoWrapper {
    aspect-ratio: 16/9;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .canvas,
  .video,
  .pipVideo,
  .loadingWrapper,
  .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .video {
    z-index: 1;
  }
  .canvas {
    z-index: 2;
    pointer-events: none;
    object-fit: contain;
  }
  .pipVideo {
    z-index: -1;
    &.active {
      z-index: 3;
    }
  }
  .thumbnail {
    z-index: 0;
  }
  .loadingWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .controller {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: bottom 250ms ease;
  }
}
.wrapper.theatre {
  max-height: calc(100vh - 170px);
  .videoWrapper {
    max-height: calc(100vh - 170px);
  }
}

.wrapper.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  .videoWrapper {
    max-width: 100vw;
    max-height: 100vh;
  }
}
