@use "../../styles/colors";

.root {
  width: 30px;
  height: 10px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  position: relative;
  cursor: pointer;
  .thumb {
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    border-radius: 9999px;
    left: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 100ms;
    background-color: #bdbdbd;
  }
  &[data-state="checked"] {
    background-color: colors.$accentColor;
    .thumb {
      left: 22px;
      background-color: white;
    }
  }
}
