@use "../../styles/colors";

.card {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 12px;
  .thumbnail {
    max-width: 40%;
    width: 357px;
  }
  .titles {
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .title {
      font-size: min(1.7vw, 24px);
      color: colors.$textColor;
    }
  }
  &:hover {
    background-color: colors.$hoverColor;
  }
}
