.wrapper {
  height: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 0 12px;
  display: flex;
  flex-direction: column-reverse;
  .buttons {
    display: flex;
    flex-direction: row;
    height: 40px;
    .button {
      width: 40px;
      border: none;
      background: none;
      cursor: pointer;
    }
    .volumeSlider {
      overflow: hidden;
      width: 0;
      transition: width 250ms ease;
      &.extend {
        width: 52px;
      }
    }
  }
}
