.wrapper {
  position: relative;
  padding: 0 12px;
  display: flex;
  flex-direction: column-reverse;
  user-select: none;
  .background {
    position: absolute;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .buttons {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    .button {
      width: 40px;
      height: 40px;
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .leftSideWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .volumeSlider {
        overflow: hidden;
        width: 0;
        transition: width 250ms ease;
        &.extend {
          width: 52px;
        }
        margin-right: 10px;
      }
      .timeDisplay {
        font-size: 12px;
        .text {
          color: #ddd;
          margin: 0 2px;
        }
      }
    }
    .rightSideWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
