@use "../../styles/colors";

.wrapper {
  .titleWrapper {
    border-bottom: solid 1px colors.$quaternaryBackgroundColor;
    margin-bottom: 10px;
    .title {
      font-size: 18px;
      padding: 10px 0;
    }
    .postDate {
      font-size: 14px;
      color: colors.$subTextColor;
      padding-bottom: 10px;
    }
  }
  .author{
    padding-bottom: 10px;
    border-bottom: solid 1px colors.$quaternaryBackgroundColor;
    margin-bottom: 10px;
  }
  .series {
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 20px;
    .link{
      color: colors.$subTextColor;
    }
  }
}
