@import "styles/colors";

.wrapper {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .watched {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    display: block;
    background-color: $accentColor;
  }
  .duration {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 3px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    height: 18px;
    font-size: 12px;
    line-height: 12px;
  }
}
