.buttonWrapper {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  &.hover:hover {
    background-color: var(--color-hover);
  }
  svg {
    width: 24px;
    height: 24px;
    fill: var(--color-text);
  }
}
