$accentColor: #00b3ff;
$textColor: var(--gray-12);
$subTextColor: var(--gray-10);
$backgroundColor: var(--gray-1);
$secondaryBackgroundColor: var(--gray-2);
$thirdlyBackgroundColor: var(--gray-3);
$quaternaryBackgroundColor: var(--gray-4);
$hoverColor: var(--accent-2);
