.wrapper {
  width: 40px;
  position: relative;
  margin: 0 6px;
  height: 100%;
  cursor: pointer;
  .grubber {
    position: absolute;
    top: 20px;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      margin-top: -2px;
      top: 50%;
      width: 64px;
      display: block;
    }
    &:before {
      background-color: #fff;
      left: -62px;
    }
    &:after {
      background-color: rgba(255, 255, 255, 0.2);
      left: 2px;
    }
  }
}
