@use "../../styles/colors.scss";

.header {
  height: 56px;
  width: 100vw;
  background-color: colors.$secondaryBackgroundColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.main {
  display: flex;
  height: 100vh;
  padding-top: 56px;
  width: 100vw;
  overflow-y: scroll;
  .container {
    flex: 1;
    padding: 24px 24px 0 24px;
    overflow-x: hidden;
  }
}
