.button {
  background: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  aspect-ratio: 1 !important;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px solid #888;
  }

  &.textButton {
    width: min-content;
    padding: 0 10px;
    text-wrap: nowrap;
  }
}
