@use "../../../styles/colors.scss";

.container {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .leftSideWrapper {
    width: 169px;
  }
  .centerWrapper {
    flex: 0 1 728px;
    min-width: 0;
    padding: 0 40px;
  }
  .rightSideWrapper {
    width: 225px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
  }
  .inputWrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: colors.$backgroundColor;
    padding: 0 8px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    &.active {
      opacity: 1;
      pointer-events: unset;
    }
    .background {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .input {
      flex: 1;
      margin: 4px 0;
    }
  }
}
