@use "../../../styles/colors.scss";

.container {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .leftSideWrapper {
    width: 169px;
  }
  .centerWrapper {
    flex: 0 1 728px;
    min-width: 0;
    padding: 0 40px;
  }
  .rightSideWrapper {
    width: 225px;
    display: flex;
    justify-content: flex-end;
  }
}
