.button {
  background: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  aspect-ratio: 1 !important;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #888;
  }
}
