.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top {
    height: 48px;
    display: flex;
    justify-content: right;
    margin: 0 10px;
  }
  .middle {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .playPauseButton {
      width: 80px;
      height: 80px;
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 40px;
      svg {
        width: 80px;
        height: 80px;
      }
    }
    .buttonWrapper {
      width: 40px;
      height: 40px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .bottom {
    height: 40px;
    margin: 0 10px;
    display: flex;
    .timeDisplay {
      .text {
        font-size: 12px;
        line-height: 40px;
        padding: 0 2px;
      }
    }
    .slider {
      height: 40px;
      flex: 1;
      margin: 0 10px;
    }
  }
}
.button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
