@import "../../styles/colors";

.wrapper {
  &.row {
    display: block;
    padding: 4px;
    border-radius: 8px;
    max-width: 360px;
    max-height: 300px;
    text-decoration: none;
    width: var(--width, unset);
    .thumbnail {
      margin-bottom: 7px;
      width: var(--width, unset);
    }
    .titles {
      min-height: 40px;
      .title {
        font-size: 17px;
        line-height: 20px;
        font-weight: 700;
        max-height: 40px;
      }
      .seriesTitle {
        height: 18px;
        line-height: 18px;
        font-size: 13px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
  }
  &.column {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 12px;
    .thumbnail {
      max-width: 40%;
      width: 357px;
    }
    .titles {
      flex: 1;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .title {
        font-size: min(1.7vw, 24px);
      }
      .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        .seriesTitle {
          font-size: min(1.2vw, 16px);
          .link {
            color: $textColor;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
      }
    }
  }
  &.minColumn {
    display: flex;
    flex-direction: row;
    height: 64px;
    padding: 4px 8px 4px 0;
    .index {
      width: 24px;
      line-height: 56px;
      font-size: 12px;
      text-align: center;
    }
    .thumbnail {
      width: 100px;
      height: 56px;
    }
    .titles {
      padding: 2px 0 2px 5px;
      flex: 1;
      .title {
        margin: 0 0 4px;
        font-size: 14px;
        line-height: 16px;
        max-height: 32px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .seriesTitle {
        line-height: 18px;
        font-weight: 400;
        font-size: 13px;
        max-height: 18px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
  }
  color: $textColor;
  .title {
    color: $textColor;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: block;
    letter-spacing: 0;
  }
  .seriesTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
    color: $subTextColor;
    display: flex;
    flex-direction: row;
    .link {
      color: $subTextColor;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &:hover {
    background-color: $hoverColor;
  }
}
