.iconWrapper {
  width: 40px;
  height: 40px;
  .icon {
    width: 24px;
    height: 24px;
    margin: 8px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: fit-content;
  min-width: 250px;
  .item {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    justify-content: space-between;
    &.header {
      border-bottom: solid 1px rgba(255, 255, 255, 0.2);
      margin-top: -5px;
      padding-bottom: 5px;
      box-sizing: unset;
    }
    .left {
      display: flex;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      .switch {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
