.scrollContainer {
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  &.inactive {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .wrapper {
    overflow: hidden;
    transition: width 200ms ease, height 200ms ease;
    position: relative;
    .container {
      width: 1920px;
      height: 1080px;
      display: flex;
      align-items: flex-start;
      position: absolute;
      transition: left 200ms;
    }
  }
}
.measure {
  position: fixed;
  right: -100%;
  width: 1000px;
  .item {
    width: fit-content;
  }
}
