$accentColor: #00b3ff;
$textColor: #ffffff;
$subTextColor: #aaaaaa;
$backgroundColor: #0c1017;
$secondaryBackgroundColor: #0f141d;
$thirdlyBackgroundColor: #050510;
$quaternaryBackgroundColor: #151a2b;
$hoverColor: #2c2f35;