.wrapper{
  padding: 24px;
  max-width: 1800px;
  margin: 0 auto;
  .container{
    display: grid;
    grid-template-areas:
    "player   playlist"
    "metadata playlist";
    grid-template-columns: 1fr minmax(300px,400px);
    gap: 24px;
    .playerWrapper{
      grid-area: player;
      min-width: 640px;
    }
    .metadata{
      grid-area: metadata;
    }
    .playlistWrapper{
      grid-area: playlist;
    }
  }
}

.wrapper.theatre{
  .container{
    grid-template-areas:
    "player   player"
    "metadata playlist";
    max-width: unset;
    grid-template-columns: 1fr minmax(300px,400px);
    .playerWrapper{
      margin: -24px;
      padding-bottom: 12px;
    }
    .metadata{
      min-width: 640px;
    }
  }
}

@media (max-width: 1000px){
  .wrapper,.wrapper.theatre{
    .container{
      grid-template-areas:
      "player  "
      "metadata"
      "playlist";
      grid-template-columns: 1fr;
      .metadata,.playerWrapper{
        min-width: unset;
      }
      .playlist{
        max-height: unset!important;
      }
    }
  }
  .wrapper.theatre{
    .container{
      .metadata,.playlistWrapper{
        margin: 0;
      }
    }
  }
}