.wrapper{
  display: flex;
  flex-direction: row;
  padding: 24px;
  max-width: 1800px;
  margin: 0 auto;
  .mainWrapper{
    flex: 1;
    min-width: 640px;
    margin-right: 24px;
  }
  .info{
    margin-bottom: 10px;
  }
  .subWrapper{
    flex: 1;
    max-width: 400px;
    width: 300px;
    .playlistWrapper{
      width: 100%;
    }
  }
}

.wrapper.theatre{
  flex-direction: column;
  padding: 0;
  max-width: unset;
  .mainWrapper{
    width: 100%;
    .playerWrapper{
      width: 100%;
    }
  }
  .subWrapper{
    padding: 24px;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    .info{
      flex: 1;
      margin-right: 24px;
    }
    .playlistWrapper{
      max-width: 400px;
      width: 300px;
    }
  }
}

@media (max-width: 1000px){
  .wrapper{
    flex-direction: column;
    .mainWrapper,.subWrapper{
      width: 100%;
      max-width: unset;
      min-width: 420px;
    }
  }
  .wrapper.theatre{
    .subWrapper{
      flex-direction: column;
      .playlistWrapper{
        width: 100%;
        max-width: unset;
      }
    }
  }
}