@use "../../../styles/colors";

.disable {
  .background {
    opacity: 0;
    pointer-events: none;
  }
  .overlay {
    left: -240px;
  }
}
.background {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: opacity 250ms ease;
}
.overlay {
  background-color: colors.$secondaryBackgroundColor;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  z-index: 101;
  transition: left 250ms ease;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  .headerMenuWrapper {
    padding: 8px 0;
  }
  .overlayItem {
    padding: 8px 0;
    margin: 8px 0;
    display: flex;
    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    .text {
      line-height: 24px;
      height: 24px;
    }
  }
}
