@use "../../../styles/colors";

.wrapper {
  position: relative;
  z-index: 10001;
  &.disable {
    .container {
      left: -76px;
    }
    .spacer {
      width: 0;
    }
  }
  .container {
    transition: left ease 0.5s;
    width: 76px;
    background-color: colors.$secondaryBackgroundColor;
    padding: 12px 0;
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    min-height: calc(100vh - 56px);
    .buttonWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
      .icon {
        width: 24px;
        height: 24px;
      }
      .text {
        font-size: 10px;
      }
    }
  }
  .spacer {
    transition: width ease 0.5s;
    width: 76px;
  }
  &.mobile {
    height: 48px;
    .container {
      padding: 0;
      top: unset;
      bottom: 0;
      width: 100%;
      height: 48px;
      min-height: unset;
      display: flex;
      flex-direction: row;
      .buttonWrapper {
        flex: 1;
        padding: 6px 0;
      }
    }
  }
}
